.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.small {
    width: 24px;
    height: 24px;
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.large {
    width: 48px;
    height: 48px;
  }

  .path {
    animation: rotate 1s linear infinite;
    transform-origin: center;
    stroke-linecap: round;
    stroke-dasharray: 62;
    stroke-dashoffset: 31;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}