$primary-color-0: #ffffff;
$primary-color-10: #cbccce;
$primary-color-20: #999ba0;
$primary-color-30: #696d73;
$primary-color-40: #3e424a;
$primary-color-50: #161b24;
$primary-color-60: #13171e;
$primary-color-70: #101319;
$primary-color-80: #0b0e13;
$primary-color-90: #06070a;
$primary-color-100: #000000;