@use "../../app/globals.scss" as variables;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: variables.$text-secondary;
}

.closeIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: variables.$text-secondary;
}

.input {
  background: variables.$surface-0;
  flex: 1;
  padding: 0.75rem 2.75rem;
  border: 2px solid variables.$border-color;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.2s;
  width: 100%;
  font-size: 1rem;
  color: variables.$text-primary;

  &:focus {
    border-color: variables.$primary-color;
  }
}

.githubExplorer {
  color: variables.$text-primary;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}